


// import fonts
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato|Open+Sans|Source+Sans+Pro:200,300,400,600|Permanent+Marker|Oswald');

//font-family: 'Open Sans', sans-serif;
//font-family: 'Permanent Marker', cursive;
//font-family: 'Dancing Script', cursive;
//font-family: 'Lato', sans-serif;
//font-family: 'Oswald',sans-serif;


// Variables

// Colors
$green: #5ABC6E;
$light-green: #38C098;
$pro-font: #3E444A;
$hero-color: #3E3A67;
$light-blue: #F4F7FF;
$dark-font: #4A4A4A;
$light-bg-color: #FAFAFA;
$cyan: cyan;
$manilla: #FFFFAA;
$marker-color: #130D6B;

// Fonts
$apple-font: -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
$open-sans: 'Open sans', sans-serif;
$sans-pro: 'Source Sans Pro', sans-serif;
$neue: 'Helvetica Neue', Arial, sans-serif;
$bree: 'Bree Serif', Courier, sans-serif;
$marker: 'Permanent Marker', cursive;
$lato: 'Lato',sans-serif;
$dancing: 'Dancing Script', cursive;
$oswald: 'Oswald',sans-serif;


// Social variables
$wordpress-color: #21759B;
$twitter-color: #00aced;
$facebook-color: #3b5998;
$github-color: #bd2c00;
$slack-color: #0f7965;
$reddit-color: #FF5700;
$linkedin-color: #0077B5;


// Mixins

// Media Query for Responsive Display
@mixin media($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

// links
@mixin href($color) {
    text-decoration: none;
    color: $color; }

// background images
@mixin image($path, $size) {
    background: {
        image: (url($path));
        size: $size;
        repeat: no-repeat;
        position: 50% 50%;
    }
}

// font settings
@mixin font-settings($family,$size,$color,$weight) {
    color: $color;
    font: {
        family: $family;
        size: $size;
        weight: $weight;
    }
}



// START BODY

*, body {
    padding: 0;
    margin: 0;
    border: 0;
}

// menu-display for small devices
#menu {
    display: none;
    position: fixed;
    top: 65px;
    right: 20px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
    z-index: 1000;

    #menu-container {
        width: 200px;
        section {
            -webkit-display: flex;
            -moz-display: flex;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            padding: 10px;
            @include font-settings($sans-pro,1.4em,#333,300);
            div {
                padding: 10px;
                font-color: $hero-color;
                a {
                    @include href($hero-color);
                }
            }

            &:nth-child(1) {
                flex-direction: column;
            }
            &:nth-child(2) {
                flex-direction: row;
                padding: 10px;
            }
        }
    }//END #menu-container
}//END #menu

header {
    background: linear-gradient( rgba(56,192,152,1), rgba(56,192,152,0.5)), url('../images/seasia.png');
    background-repeat: repeat;
    background-position: 50% 50%;
    padding-bottom: 50px;
    @include media(55em) {
        height: auto;
        //animation: animatedBackground 60s linear infinite;
    }

    //animation: animatedBackground 30s linear infinite;
    //@keyframes animatedBackground {
    //    0%, 100% {
    //        background-position: 0 0;
    //    }
    //    50% {
    //        background-position: 100% 100%;
    //    }
    //} //END keyframes


    // START spotlight

    //.searchlight {
    //    position: absolute;
    //    z-index: 100;
    //    height: 300px;
    //    width: 300px;
    //    border-width: 100vh 100vw;
    //    border-style: solid;
    //    border-color: #000;
    //    top: -100vh;
    //    left: -100vw;
    //    cursor: none;
    //    background: #000;
    //    -moz-box-sizing: content-box;
    //    -webkit-box-sizing: content-box;
    //    -ms-box-sizing: content-box;
    //    box-sizing: content-box;
    //    opacity: 0.3;
    //    @include media(55em) {
    //        display: none;
    //    }
    //}
    //.searchlight.on {
    //    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 60%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    //    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 60%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    //    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 60%,rgba(0,0,0,1) 100%); /* Opera 12+ */
    //    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 60%,rgba(0,0,0,1) 100%); /* IE10+ */
    //    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 60%,rgba(0,0,0,1) 100%); /* W3C */

    //    @include media(55em) {
    //        display: none;
    //    }
    //}




    // START .navbar

    nav.navbar {
        height: 65px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        
        > div {
            position: relative;
            height: 55px;
            margin-top: 10px;
            text-align: center;
            line-height: 60px;

            &:nth-child(1) {
                margin-left: 15px;
                font-size: 1.3em;
                position: absolute;
                top: -10px;
                left:-15px;
                background-image: url('../images/logo-top-left.png');
                background-position: 0 0;
                background-size: contain;
                background-repeat: no-repeat;
                height: 90px;
                width: 90px;
            }
            &:nth-child(3) {
                flex-grow: 1;
            }
            &:nth-child(4) {
                @include media(50em) {
                    display: none;
                }
            }
            &:nth-child(5) {
                @include media(50em) {
                    display: none;
                }
            }
            &:nth-child(6) {
                @include media(50em) {
                    display: none;
                }
            }
            &:nth-child(7) {
                @include media(50em) {
                    display: none;
                }
            }
            &:nth-child(8) {
                display: none;
                @include media(50em) {
                    display: block;
                    font-size: 1.8em;
                }
            }

            > a {
                padding: 0 25px;
                @include font-settings($apple-font,1em,#FFF,200);
                @include href(#FFF);
                display: inline-block;
                i {
                    padding-right: 5px;
                }
            }
        }
    }//END navbar

    #title-box {
        width: 700px;
        margin: 30px auto 0 auto;
        padding: 50px 0;
        text-align: center;
        @include media(48em) {
            width: 90%;
        }
        p {
             //family, size, color, weight
            @include font-settings($open-sans,2.3em,#FFF,200);           
        }

        p:nth-of-type(1) {
            margin: 15px 0;

            span {
                font-size: 1.3em;
                font-weight: 400;
                color: #333;
            }
        }
        p:nth-of-type(2) {
            padding-top: 75px;
            @include font-settings($sans-pro,1.4em,#FFF,300);
        }

    }//END title-box
    //#white-sheet {
    //    position: relative;
    //    width: auto;
    //    height: 300px;
    //    margin: 40px auto;
    //    border-radius: 40px;
    //    color: #333;
    //    @include image('../images/original-book-logo-2.png',contain);
    //    @include media(48em) {
    //        margin: 15px auto;
    //        height: 150px;
    //        //background-color: #FFF;
    //    }

    //    #inner-container {
    //        text-align: center;
    //        padding: 20px 0 30px 0;
    //        #text-container {
    //            margin: 10px 0 30px 0;       

    //            p {
    //                @include font-settings($neue,1.3em,#333,300);
    //            }
    //        }
    //        #icon-container {
    //            display: -webkit-flex;
    //            display: -moz-flex;
    //            display: -ms-flex;
    //            display: flex;
    //            justify-content: space-evenly;
    //            align-items: center;
    //            flex-direction: row;
    //            perspective: 1000px;
    //            @include media(48em) {
    //                perspective: 1;
    //            }
    //            @include media(32em) {
    //                flex-direction: column;
    //            }
    //            #icon-container-one {
    //                transform: rotateY(40deg);
    //                @include media(48em) {
    //                    transform: rotateY(0);
    //                }
    //            }
    //            #icon-container-two {
    //                transform: rotateY(0deg);
    //                @include media(48em) {
    //                    transform: rotateY(0);
    //                }
    //            }
    //            #icon-container-three {
    //                transform: rotateY(320deg);
    //                @include media(48em) {
    //                    transform: rotateY(0);
    //                }
    //            }
    //            
    //            > aside {
    //                position:relative;
    //                display: -webkit-flex;
    //                display: -moz-flex;
    //                display: -ms-flex;
    //                display: flex;
    //                justify-content: space-evenly;
    //                align-items: center;
    //                flex-direction: column;
    //                background-color: #FFF;
    //                border-radius: 4px;
    //                box-shadow: 2px 2px 4px #99B7DB;
    //                @include font-settings($neue,1.1em,#333,300);                   @include media(48em) {
    //                    background-color: none;
    //                    box-shadow: none;
    //                }
    //                &:nth-child(odd) {
    //                    border: 10px solid #FFF;
    //                    @include media(48em) {
    //                        border: none;   
    //                    }
    //                }

    //                a {
    //                    position: absolute;
    //                    height: 100%;
    //                    width: 100%;
    //                }
    //                
    //                .main-icons {
    //                    height: 150px;
    //                    width: 150px;
    //                    @include media(48em) {
    //                        height: 100px;
    //                        width: 100px;
    //                    }
    //                }

    //                #first-icon {
    //                    @include image('../images/hlo-icons/mission-2.png',contain);
    //                }

    //                #second-icon {
    //                    @include image('../images/hlo-icons/values-2.png',contain);                   
    //                }

    //                #third-icon {
    //                    @include image('../images/hlo-icons/vision-2.png',contain);
    //                }

    //                p {
    //                    border-top: 1px solid $light-green;
    //                    text-align: center;
    //                    padding: 20px;

    //                }
    //            }
    //        }
    //    }//END inner-container
    //}//END white-sheet
} //END heder


// START MAIN

main.main-container {
    width: 100%;
    
    #programs-sec {
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        
        .main-title-box {
            width: 100%;
            margin: 0 auto;
            padding: 30px 0;
            text-align: center;
            @include font-settings($sans-pro,1.8em,#333,400);
        }
        .container-separator {
            width: 100%;
            text-align: center;
            padding: 45px 0;
        }//END container-separator
        #at1 {
            #au1 {

                #uhealth-icon {
                    position: relative;
                    height: 60px;
                    width: 60px;
                    
                    @include image('../images/hlo-icons/values-2.png',contain);
                    &::before {
                        content: '';
                        position: absolute;
                        top: 30px;
                        left: 70px;
                        display: inline-block;
                        height: 2px;
                        width: 300px;
                        margin: 0 auto;
                        background-color: #777;
                        @include media(48em) {
                            width: 230px;
                        }
                        @include media(40em) {
                            width: 200px;
                        }
                        @include media(35em) {
                            width: 130px;
                        }
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: 30px;
                        right: 70px;
                        display: inline-block;
                        height: 2px;
                        width: 300px;
                        margin: 0 auto;
                        background-color: #777;
                        @include media(48em) {
                            width: 230px;
                        }
                        @include media(40em) {
                            width: 200px;
                        }
                        @include media(35em) {
                            width: 130px;
                        }
                    }
                }
                p.para {
                    width: 90%;
                    margin: 0 auto;
                }
            }//END #au1
        }//END #at1

        //#at2 {
        //    padding-bottom: 50px;
        //    display: -webkit-flex;
        //    display: -ms-flex;
        //    display: flex;
        //    flex-direction: row;
        //    flex-wrap: wrap;
        //    align-items: center;
        //    justify-content: center;
        //    @include media(48em) {
        //        flex-direction: column;
        //        flex-wrap: no-wrap;
        //    }
        //    #bu1 {
        //        width: 100%;
        //        #ucare-icon {
        //            position: relative;
        //            height: 60px;
        //            width: 60px;
        //            @include image('../images/hlo-icons/services-2.png',contain);
        //            &::before {
        //                content: '';
        //                position: absolute;
        //                top: 30px;
        //                left: 70px;
        //                display: inline-block;
        //                height: 2px;
        //                width: 300px;
        //                margin: 0 auto;
        //                background-color: #777;
        //                @include media(48em) {
        //                    width: 230px;
        //                }
        //                @include media(40em) {
        //                    width: 200px;
        //                }
        //                @include media(35em) {
        //                    width: 130px;
        //                }
        //            }
        //            &::after {
        //                content: '';
        //                position: absolute;
        //                top: 30px;
        //                right: 70px;
        //                display: inline-block;
        //                height: 2px;
        //                width: 300px;
        //                margin: 0 auto;
        //                background-color: #777;
        //                @include media(48em) {
        //                    width: 230px;
        //                }
        //                @include media(40em) {
        //                    width: 200px;
        //                }
        //                @include media(35em) {
        //                    width: 130px;
        //                }
        //            }
        //        }
        //    }

        //    #bu2 {
        //        width: 48%;
        //        padding-top: 50px;
        //        p.para {
        //            width: 80%;
        //            margin: 0 auto;
        //        }
        //        @include media(55em) {
        //        
        //        }
        //        @include media(48em) {
        //            width: 100%;
        //        }
        //    }
        //    .empty {
        //        flex-grow: 1;
        //        @include media(60em) {
        //            display: none;
        //        }
        //    }
        //    #bu3 {
        //        width: 48%;
        //        padding-top: 50px;

        //        @include media(50em) {
        //            width: 100%;
        //        }
        //        .gallery-grid {
        //            height: 300px;
        //            width: 90%;
        //            @include image('../images/gallery-grid.png',contain);
        //            @include media(55em) {
        //                height: 250px;
        //                width: 380px;
        //            }
        //            @include media(50em) {
        //                width: 80%;
        //                margin: 0 auto;
        //            }
        //        }               
        //    }
        //}//END at2

        // default elements

        section {
            text-align: center;
            justify-content: space-between;
            aside {
                margin: 0 auto;
                .title {
                    letter-spacing: .05em;
                    @include font-settings($neue,2.5em,#303030,200);
                    @include media(48em) {
                        font-size: 2.0em;
                    }
                    @include media(40em) {
                        font-size: 1.6em;
                    }
                }
                
                .intro {
                    @include font-settings($neue,1.8em,#303030,200);     
                    @include media(48em) {
                        font-size: 1.5em;
                    }
                    @include media(40em) {
                        font-size: 1.3em;
                    }
                }
                .para {
                    @include font-settings($neue,1.2em,#303030,200);
                }
                .icon-hero {
                    margin: 0 auto;
                }
                p {
                    padding: 10px 0;
                    line-height: 1.5; 
                    span {
                        font-weight: 400;
                    }
                }
            }
        }
    }//END #programs-sec
    
    #y-sec {

        height: auto;
        width: 100%;
        background-color: $light-blue;

        .main-title-box {
            width: 100%;
            margin: 0 auto;
            padding: 30px 0;
            text-align: center;
            @include font-settings($sans-pro,1.8em,#333,400);
        }

        #y-icons-container {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            padding: 40px 0 75px 0;
            @include media(48em) {
                width: 75%;
                margin: 0 auto;
                flex-direction: column;
            }
            @include media(40em) {
                width: 90%;
            }
 
            aside {
                height: 310px;
                width: 200px;
                padding: 0 15px;
                background-color: #FFF;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                border-radius: 5px;
                box-shadow: 3px 3px 5px #d4d7dd;
                @include media(48em) {
                    width: 100%;
                    height: 200px;
                    padding: 0;
                    background-color: $light-blue;
                    box-shadow: none;
                }
                div {
                    height: 100px;
                    width: 100px;
                    @include image('../images/hlo-icons/values-2.png',contain);
                    @include media(48em) {
                        height: 80px;
                        width: 80px;
                    }
                }
                p {
                    line-height: 1.4em;
                    @include font-settings($sans-pro,1.1em,$hero-color,300);
                }
            }
        }//END #y-icons-container
    }//END #philo-sec


    //START management
    article#team {
        height: auto;
        width: 100%;

        .main-title-box {
            width: 100%;
            margin: 0 auto;
            padding: 30px 0;
            text-align: center;
            @include font-settings($sans-pro,1.8em,#333,400);
            
        }// END main-title-box



        // Team slide in info
        .slidedown {
            position: fixed;
            top: -100%;
            margin: 0 auto;
            background: #333;
            height: 300px;
            width: 300px;
            
        }





        #team-container {
            width: 100%;
            margin: 0 auto;
            padding: 100px 0;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            @include media(45em) {
                flex-direction: column;
            }
 
            .ind-container {
                position: relative;
                width: auto;
                text-align: center;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                box-shadow: 3px 3px 5px #d4d7dd;
                padding: 20px 10px;
                &:nth-child(1) {
                    @include media(45em) {
                        margin-bottom: 100px;
                    }
                }

                // about me container
                .modal-container {
                    margin: 60px auto;
                    padding-top: 0px;
                    position: absolute;
                    width: 100%;

                    .modal-btn {
                        position: absolute;
                        bottom: -117px;
                        display: block;
                        margin: 0 auto;      
                        color: #fff;  
                        width: 100%;
                        height: 50px;    
                        line-height: 50px;    
                        background: #446CB3;
                        font-size: 22px;       
                        border: 0;
                        border-bottom-left-radius: 3px;
                        border-bottom-right-radius: 3px;
                        cursor: pointer;
                        text-align: center;
                        box-shadow: 3px 3px 5px #d4d7dd;
                        transition: background 0.3s ease-in;
                        @include font-settings($sans-pro,#FFF,1.3em,300);
                        &:hover { 
                            background: #365690; 
                        }
                        @include media(55em) {
                            bottom: -110px;
                        }
                    }

                    .modal-content, .modal-backdrop {
                        height: 0; 
                        width: 0; 
                        opacity: 0;    
                        visibility: hidden;
                        overflow: hidden; 
                        cursor: pointer;
                        transition: opacity 0.2s ease-in; 
                    }
                    .modal-content {
                    
                        h2 {
                            @include font-settings($sans-pro, $hero-color,1.6em,400);
                        }
                        p {
                            @include font-settings($sans-pro, $hero-color,1.3em,300);
                            text-align: left;
                            text-indent: 20px;
                            padding: 20px 0;
                        }
                        i {
                            text-align: center;
                        }
                        // linkedin
                        div {
                            padding-top: 20px;
                            a {
                                @include href("#FFF");
                                i {
                                    font-size: 1.2em;
                                    color: $linkedin-color;
                                }
                            }
                        }

                    }

                    .modal-close {
                        color: #aaa;
                        position: absolute;
                        right: 5px;
                        top: 5px;
                        padding-top: 3px;
                        background: #fff;
                        font-size: 16px;
                        width: 25px;
                        height: 25px;
                        font-weight: bold;
                        text-align: center;
                        cursor: pointer;
                        &:hover { 
                            color: #333; 
                        }        
                    }      
                    .modal-content-btn {
                        position: absolute;
                        text-align: center;
                        cursor: pointer;
                        bottom: 20px;
                        right: 30px;
                        background: #446CB3;
                        color: #fff;
                        width: 50px;
                        border-radius: 2px;
                        font-size: 14px;
                        height: 32px;
                        padding-top: 9px;
                        font-weight: normal;
                        &:hover { 
                            color: #fff; background: #365690; 
                        }
                    }
                    #modal-toggle {
                        display: none;  
                        &.active ~ .modal-backdrop,
                        &:checked ~ .modal-backdrop {
                            background-color: rgba(0, 0, 0, 0.6);
                            width: 100vw;
                            height: 100vh;
                            margin: 0 auto;
                            position: fixed;
                            left: 0;
                            top: 0;
                            z-index: 9;
                            visibility: visible;
                            opacity: 1;      
                            transition: opacity 0.2s ease-in; 
                        }
                        &.active ~ .modal-content,
                        &:checked ~ .modal-content {
                            opacity: 1;
                            background-color: #FFF;
                            height: auto;
                            max-width: 450px;
                            width: 80%;
                            padding: 30px 30px;
                            position: fixed;
                            left: calc(50% - 250px);
                            top: 12%;
                            border-radius: 4px;
                            z-index: 999;
                            pointer-events: auto;
                            cursor: auto;
                            visibility: visible;      
                            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);                            @include media(35em) {
                                left: 5%;
                                right: 5%;
                            }
                        }
                    }
                }// END modal container

                p {
                    &:nth-child(1) {
                        @include font-settings($sans-pro,1em,$hero-color,300);                       
                    }
                }
                .mug {
                    height: 150px;
                    width: 150px;
                    border-radius: 50%;
                    @include media(55em) {
                        height: 120px;
                        width: 120px;
                    }
                }
                .emp-info {
                    padding: 13px 0 0 0;
                    p {
                        &:nth-child(1) {
                            @include font-settings($sans-pro,1.2em,$hero-color,300);
                            span {
                                font-weight: 400;
                            }
                        }
                        &:nth-child(2) {
                            @include font-settings($sans-pro,1em,#666,300);
                        }           
                    }
                }

                #emp-one {
                    @include image('../images/lead-selfie.png',contain);
                    -webkit-filter: grayscale(1);
                    filter: grayscale(1);
                }
                #emp-two {
                     @include image('../images/tech-selfie.png',contain);                          -webkit-filter: grayscale(1);
                    filter: grayscale(1);         
                }

                .social-container {
                    a {
                        @include href(#535353);
                        i {
                            padding: 7px 5px 0 5px;
                            font-size: 1.2em;
                        }
                    }
                    .twitter:hover {
                        color: $twitter-color;
                    }
                    .github:hover {
                        color: $github-color;
                    }
                    .linkedin:hover {
                        color: $linkedin-color;
                    }
                }
            }
        }//END #team-container
    }//END team



    //START #partners
    article#partners {
        height: 400px;
        
        .main-title-box {
            width: 100%;
            margin: 0 auto;
            padding: 30px 0;
            text-align: center;
            @include font-settings($sans-pro,1.8em,#333,400);
        }

    }//END #partners



    //START #faqs
    article#faqs {
        height: 400px;
        
        .main-title-box {
            width: 100%;
            margin: 0 auto;
            padding: 30px 0;
            text-align: center;
            @include font-settings($sans-pro,1.8em,#333,400);
        }

    }//END #faqs



    
    //START #conclusion
    article#conclusion {
        height: auto;
        border: 1px dotted #333;
        section {
            width: 100%;
            padding: 75px 0;
            
            div {
                width: 700px;
                margin: 0 auto;
                text-align: center;    
                @include media(48em) {
                    width: 90%;
                }
                p {
                    @include font-settings($sans-pro,1.9em,$hero-color,300);
                    @include media(48em) {
                        font-size: 1.5em;
                    }
                    @include media(40em) {
                        font-size: 1.3em;
                    }
                    .bold {
                        font-weight: 400;
                    }
                }
            }
            .slack-container {
                width: 100%;
                padding: 50px 0 0 0;
                text-align: center;
                .slack-button {
                    height: 70px;
                    width: 260px;
                    background-color: $light-green;
                    opacity: 0.8;
                    border-radius: 40px;    
                    &:hover {
                        opacity: 0.7;
                    }
                    p {
                        @include font-settings($sans-pro,1.1em,#FFF, 400);
                        line-height: 3;
                        a {
                            display: block;
                            height: 100%;
                            width: 100%;
                            vertical-align: middle;
                            font-size: 1.3em;
                            padding: 0 10px 0 0;
                            @include href(#FFF);
                    
                            i {
                                padding-right: 5px;
                            }
                        }
                    }
                }
            }           
        }//END section
    }//END #conclusion



    //START footer
    footer {
        background-color: #0B1742;
        section {
            color: #FFF;
            text-align: center;
            padding: 50px 0;
            div {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 0;

                &:nth-child(1) {

                    padding-bottom: 15px;
                    @include font-settings($apple-font,1.3em,#FFF,200);

                }
                &:nth-child(2) {
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    @include font-settings($apple-font,0.9em,#FFF,300);
                    aside {
                        width: 30%;
                        @include media(45em) {
                            width: 90%;
                            margin: 0 auto;
                            padding: 35px 0;
                        }
                        &:nth-child(1) {
                            display: -webkit-flex;
                            display: -moz-flex;
                            display: -ms-flex;
                            display: flex;
                            @include media(50em) {
                                flex-direction: column;
                            }
                            p {
                                flex: auto;
                                @include media(50em) {
                                    height: 1.7em;
                                    margin: 0 auto;
                                }
                                a {
                                    @include href(#FFF);
                                }
                            }
                        }
                        &:nth-child(2) {
                            @include media(45em) {
                                padding-top: 12px;
                            }
                        }
                        div {
                        
                        }
                        &:nth-child(1) {
                            display: -webkit-flex;
                            display: -moz-flex;
                            display: -ms-flex;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            p {
                                padding: 0 10px;

                            }
                        }
                        &:nth-child(2) {
                            a {
                                @include href($light-green);   
                            }
                        }
                    }
                }
                &:nth-child(3) {
                    .social-footer-sub-container {
                        a {
                            font-size: 1em;
                            padding: 0 10px;
                            @include href($light-green);
                            @include media(45em) {
                                padding: 0 10px;
                            }
                            &:hover {
                                color: #FFF;
                            }
                        }
                    }
                }
                &:nth-child(4) {
                    padding-top: 15px;
                    @include font-settings($apple-font,0.85em,#ccc,200);
                }
            }
        }
    }//END footer



}//END main-container







