@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Lato|Open+Sans|Source+Sans+Pro:200,300,400,600|Permanent+Marker|Oswald");
*, body {
  padding: 0;
  margin: 0;
  border: 0; }

#menu {
  display: none;
  position: fixed;
  top: 65px;
  right: 20px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 10px;
  z-index: 1000; }
  #menu #menu-container {
    width: 200px; }
    #menu #menu-container section {
      -webkit-display: flex;
      -moz-display: flex;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      padding: 10px;
      color: #333;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.4em;
      font-weight: 300; }
      #menu #menu-container section div {
        padding: 10px;
        font-color: #3E3A67; }
        #menu #menu-container section div a {
          text-decoration: none;
          color: #3E3A67; }
      #menu #menu-container section:nth-child(1) {
        flex-direction: column; }
      #menu #menu-container section:nth-child(2) {
        flex-direction: row;
        padding: 10px; }

header {
  background: linear-gradient(#38c098, rgba(56, 192, 152, 0.5)), url("../images/seasia.png");
  background-repeat: repeat;
  background-position: 50% 50%;
  padding-bottom: 50px; }
  @media only screen and (max-width: 55em) {
    header {
      height: auto; } }
  header nav.navbar {
    height: 65px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex; }
    header nav.navbar > div {
      position: relative;
      height: 55px;
      margin-top: 10px;
      text-align: center;
      line-height: 60px; }
      header nav.navbar > div:nth-child(1) {
        margin-left: 15px;
        font-size: 1.3em;
        position: absolute;
        top: -10px;
        left: -15px;
        background-image: url("../images/logo-top-left.png");
        background-position: 0 0;
        background-size: contain;
        background-repeat: no-repeat;
        height: 90px;
        width: 90px; }
      header nav.navbar > div:nth-child(3) {
        flex-grow: 1; }
      @media only screen and (max-width: 50em) {
        header nav.navbar > div:nth-child(4) {
          display: none; } }
      @media only screen and (max-width: 50em) {
        header nav.navbar > div:nth-child(5) {
          display: none; } }
      @media only screen and (max-width: 50em) {
        header nav.navbar > div:nth-child(6) {
          display: none; } }
      @media only screen and (max-width: 50em) {
        header nav.navbar > div:nth-child(7) {
          display: none; } }
      header nav.navbar > div:nth-child(8) {
        display: none; }
        @media only screen and (max-width: 50em) {
          header nav.navbar > div:nth-child(8) {
            display: block;
            font-size: 1.8em; } }
      header nav.navbar > div > a {
        padding: 0 25px;
        color: #FFF;
        font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
        font-size: 1em;
        font-weight: 200;
        text-decoration: none;
        color: #FFF;
        display: inline-block; }
        header nav.navbar > div > a i {
          padding-right: 5px; }
  header #title-box {
    width: 700px;
    margin: 30px auto 0 auto;
    padding: 50px 0;
    text-align: center; }
    @media only screen and (max-width: 48em) {
      header #title-box {
        width: 90%; } }
    header #title-box p {
      color: #FFF;
      font-family: "Open sans", sans-serif;
      font-size: 2.3em;
      font-weight: 200; }
    header #title-box p:nth-of-type(1) {
      margin: 15px 0; }
      header #title-box p:nth-of-type(1) span {
        font-size: 1.3em;
        font-weight: 400;
        color: #333; }
    header #title-box p:nth-of-type(2) {
      padding-top: 75px;
      color: #FFF;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.4em;
      font-weight: 300; }

main.main-container {
  width: 100%; }
  main.main-container #programs-sec {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    margin: 0 auto; }
    main.main-container #programs-sec .main-title-box {
      width: 100%;
      margin: 0 auto;
      padding: 30px 0;
      text-align: center;
      color: #333;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.8em;
      font-weight: 400; }
    main.main-container #programs-sec .container-separator {
      width: 100%;
      text-align: center;
      padding: 45px 0; }
    main.main-container #programs-sec #at1 #au1 #uhealth-icon {
      position: relative;
      height: 60px;
      width: 60px;
      background-image: url("../images/hlo-icons/values-2.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%; }
      main.main-container #programs-sec #at1 #au1 #uhealth-icon::before {
        content: '';
        position: absolute;
        top: 30px;
        left: 70px;
        display: inline-block;
        height: 2px;
        width: 300px;
        margin: 0 auto;
        background-color: #777; }
        @media only screen and (max-width: 48em) {
          main.main-container #programs-sec #at1 #au1 #uhealth-icon::before {
            width: 230px; } }
        @media only screen and (max-width: 40em) {
          main.main-container #programs-sec #at1 #au1 #uhealth-icon::before {
            width: 200px; } }
        @media only screen and (max-width: 35em) {
          main.main-container #programs-sec #at1 #au1 #uhealth-icon::before {
            width: 130px; } }
      main.main-container #programs-sec #at1 #au1 #uhealth-icon::after {
        content: '';
        position: absolute;
        top: 30px;
        right: 70px;
        display: inline-block;
        height: 2px;
        width: 300px;
        margin: 0 auto;
        background-color: #777; }
        @media only screen and (max-width: 48em) {
          main.main-container #programs-sec #at1 #au1 #uhealth-icon::after {
            width: 230px; } }
        @media only screen and (max-width: 40em) {
          main.main-container #programs-sec #at1 #au1 #uhealth-icon::after {
            width: 200px; } }
        @media only screen and (max-width: 35em) {
          main.main-container #programs-sec #at1 #au1 #uhealth-icon::after {
            width: 130px; } }
    main.main-container #programs-sec #at1 #au1 p.para {
      width: 90%;
      margin: 0 auto; }
    main.main-container #programs-sec section {
      text-align: center;
      justify-content: space-between; }
      main.main-container #programs-sec section aside {
        margin: 0 auto; }
        main.main-container #programs-sec section aside .title {
          letter-spacing: .05em;
          color: #303030;
          font-family: "Helvetica Neue", Arial, sans-serif;
          font-size: 2.5em;
          font-weight: 200; }
          @media only screen and (max-width: 48em) {
            main.main-container #programs-sec section aside .title {
              font-size: 2.0em; } }
          @media only screen and (max-width: 40em) {
            main.main-container #programs-sec section aside .title {
              font-size: 1.6em; } }
        main.main-container #programs-sec section aside .intro {
          color: #303030;
          font-family: "Helvetica Neue", Arial, sans-serif;
          font-size: 1.8em;
          font-weight: 200; }
          @media only screen and (max-width: 48em) {
            main.main-container #programs-sec section aside .intro {
              font-size: 1.5em; } }
          @media only screen and (max-width: 40em) {
            main.main-container #programs-sec section aside .intro {
              font-size: 1.3em; } }
        main.main-container #programs-sec section aside .para {
          color: #303030;
          font-family: "Helvetica Neue", Arial, sans-serif;
          font-size: 1.2em;
          font-weight: 200; }
        main.main-container #programs-sec section aside .icon-hero {
          margin: 0 auto; }
        main.main-container #programs-sec section aside p {
          padding: 10px 0;
          line-height: 1.5; }
          main.main-container #programs-sec section aside p span {
            font-weight: 400; }
  main.main-container #y-sec {
    height: auto;
    width: 100%;
    background-color: #F4F7FF; }
    main.main-container #y-sec .main-title-box {
      width: 100%;
      margin: 0 auto;
      padding: 30px 0;
      text-align: center;
      color: #333;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.8em;
      font-weight: 400; }
    main.main-container #y-sec #y-icons-container {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      padding: 40px 0 75px 0; }
      @media only screen and (max-width: 48em) {
        main.main-container #y-sec #y-icons-container {
          width: 75%;
          margin: 0 auto;
          flex-direction: column; } }
      @media only screen and (max-width: 40em) {
        main.main-container #y-sec #y-icons-container {
          width: 90%; } }
      main.main-container #y-sec #y-icons-container aside {
        height: 310px;
        width: 200px;
        padding: 0 15px;
        background-color: #FFF;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 5px;
        box-shadow: 3px 3px 5px #d4d7dd; }
        @media only screen and (max-width: 48em) {
          main.main-container #y-sec #y-icons-container aside {
            width: 100%;
            height: 200px;
            padding: 0;
            background-color: #F4F7FF;
            box-shadow: none; } }
        main.main-container #y-sec #y-icons-container aside div {
          height: 100px;
          width: 100px;
          background-image: url("../images/hlo-icons/values-2.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 50% 50%; }
          @media only screen and (max-width: 48em) {
            main.main-container #y-sec #y-icons-container aside div {
              height: 80px;
              width: 80px; } }
        main.main-container #y-sec #y-icons-container aside p {
          line-height: 1.4em;
          color: #3E3A67;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 1.1em;
          font-weight: 300; }
  main.main-container article#team {
    height: auto;
    width: 100%; }
    main.main-container article#team .main-title-box {
      width: 100%;
      margin: 0 auto;
      padding: 30px 0;
      text-align: center;
      color: #333;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.8em;
      font-weight: 400; }
    main.main-container article#team .slidedown {
      position: fixed;
      top: -100%;
      margin: 0 auto;
      background: #333;
      height: 300px;
      width: 300px; }
    main.main-container article#team #team-container {
      width: 100%;
      margin: 0 auto;
      padding: 100px 0;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      @media only screen and (max-width: 45em) {
        main.main-container article#team #team-container {
          flex-direction: column; } }
      main.main-container article#team #team-container .ind-container {
        position: relative;
        width: auto;
        text-align: center;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 3px 3px 5px #d4d7dd;
        padding: 20px 10px; }
        @media only screen and (max-width: 45em) {
          main.main-container article#team #team-container .ind-container:nth-child(1) {
            margin-bottom: 100px; } }
        main.main-container article#team #team-container .ind-container .modal-container {
          margin: 60px auto;
          padding-top: 0px;
          position: absolute;
          width: 100%; }
          main.main-container article#team #team-container .ind-container .modal-container .modal-btn {
            position: absolute;
            bottom: -117px;
            display: block;
            margin: 0 auto;
            color: #fff;
            width: 100%;
            height: 50px;
            line-height: 50px;
            background: #446CB3;
            font-size: 22px;
            border: 0;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            cursor: pointer;
            text-align: center;
            box-shadow: 3px 3px 5px #d4d7dd;
            transition: background 0.3s ease-in;
            color: 1.3em;
            font-family: "Source Sans Pro", sans-serif;
            font-size: #FFF;
            font-weight: 300; }
            main.main-container article#team #team-container .ind-container .modal-container .modal-btn:hover {
              background: #365690; }
            @media only screen and (max-width: 55em) {
              main.main-container article#team #team-container .ind-container .modal-container .modal-btn {
                bottom: -110px; } }
          main.main-container article#team #team-container .ind-container .modal-container .modal-content, main.main-container article#team #team-container .ind-container .modal-container .modal-backdrop {
            height: 0;
            width: 0;
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
            cursor: pointer;
            transition: opacity 0.2s ease-in; }
          main.main-container article#team #team-container .ind-container .modal-container .modal-content .selfie-thumb {
            background-image: url("../images/lead-selfie.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            height: 50px;
            width: 50px;
            padding: 0;
            border-radius: 25px;
            -webkit-filter: grayscale(1);
            filter: grayscale(1); }
          main.main-container article#team #team-container .ind-container .modal-container .modal-content h2 {
            color: 1.6em;
            font-family: "Source Sans Pro", sans-serif;
            font-size: #3E3A67;
            font-weight: 400; }
          main.main-container article#team #team-container .ind-container .modal-container .modal-content p {
            color: 1.3em;
            font-family: "Source Sans Pro", sans-serif;
            font-size: #3E3A67;
            font-weight: 300;
            text-align: left;
            text-indent: 20px;
            padding: 20px 0; }
          main.main-container article#team #team-container .ind-container .modal-container .modal-content i {
            text-align: center; }
          main.main-container article#team #team-container .ind-container .modal-container .modal-content div {
            padding-top: 20px; }
            main.main-container article#team #team-container .ind-container .modal-container .modal-content div a {
              text-decoration: none;
              color: "#FFF"; }
              main.main-container article#team #team-container .ind-container .modal-container .modal-content div a i {
                font-size: 1.2em;
                color: #0077B5; }
          main.main-container article#team #team-container .ind-container .modal-container .modal-close {
            color: #aaa;
            position: absolute;
            right: 5px;
            top: 5px;
            padding-top: 3px;
            background: #fff;
            font-size: 16px;
            width: 25px;
            height: 25px;
            font-weight: bold;
            text-align: center;
            cursor: pointer; }
            main.main-container article#team #team-container .ind-container .modal-container .modal-close:hover {
              color: #333; }
          main.main-container article#team #team-container .ind-container .modal-container .modal-content-btn {
            position: absolute;
            text-align: center;
            cursor: pointer;
            bottom: 20px;
            right: 30px;
            background: #446CB3;
            color: #fff;
            width: 50px;
            border-radius: 2px;
            font-size: 14px;
            height: 32px;
            padding-top: 9px;
            font-weight: normal; }
            main.main-container article#team #team-container .ind-container .modal-container .modal-content-btn:hover {
              color: #fff;
              background: #365690; }
          main.main-container article#team #team-container .ind-container .modal-container #modal-toggle {
            display: none; }
            main.main-container article#team #team-container .ind-container .modal-container #modal-toggle.active ~ .modal-backdrop, main.main-container article#team #team-container .ind-container .modal-container #modal-toggle:checked ~ .modal-backdrop {
              background-color: rgba(0, 0, 0, 0.6);
              width: 100vw;
              height: 100vh;
              margin: 0 auto;
              position: fixed;
              left: 0;
              top: 0;
              z-index: 9;
              visibility: visible;
              opacity: 1;
              transition: opacity 0.2s ease-in; }
            main.main-container article#team #team-container .ind-container .modal-container #modal-toggle.active ~ .modal-content, main.main-container article#team #team-container .ind-container .modal-container #modal-toggle:checked ~ .modal-content {
              opacity: 1;
              background-color: #FFF;
              height: auto;
              max-width: 450px;
              width: 80%;
              padding: 30px 30px;
              position: fixed;
              left: calc(50% - 250px);
              top: 12%;
              border-radius: 4px;
              z-index: 999;
              pointer-events: auto;
              cursor: auto;
              visibility: visible;
              box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6); }
              @media only screen and (max-width: 35em) {
                main.main-container article#team #team-container .ind-container .modal-container #modal-toggle.active ~ .modal-content, main.main-container article#team #team-container .ind-container .modal-container #modal-toggle:checked ~ .modal-content {
                  left: 5%;
                  right: 5%; } }
        main.main-container article#team #team-container .ind-container p:nth-child(1) {
          color: #3E3A67;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 1em;
          font-weight: 300; }
        main.main-container article#team #team-container .ind-container .mug {
          height: 150px;
          width: 150px;
          border-radius: 50%; }
          @media only screen and (max-width: 55em) {
            main.main-container article#team #team-container .ind-container .mug {
              height: 120px;
              width: 120px; } }
        main.main-container article#team #team-container .ind-container .emp-info {
          padding: 13px 0 0 0; }
          main.main-container article#team #team-container .ind-container .emp-info p:nth-child(1) {
            color: #3E3A67;
            font-family: "Source Sans Pro", sans-serif;
            font-size: 1.2em;
            font-weight: 300; }
            main.main-container article#team #team-container .ind-container .emp-info p:nth-child(1) span {
              font-weight: 400; }
          main.main-container article#team #team-container .ind-container .emp-info p:nth-child(2) {
            color: #666;
            font-family: "Source Sans Pro", sans-serif;
            font-size: 1em;
            font-weight: 300; }
        main.main-container article#team #team-container .ind-container #emp-one {
          background-image: url("../images/lead-selfie.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          -webkit-filter: grayscale(1);
          filter: grayscale(1); }
        main.main-container article#team #team-container .ind-container #emp-two {
          background-image: url("../images/tech-selfie.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          -webkit-filter: grayscale(1);
          filter: grayscale(1); }
        main.main-container article#team #team-container .ind-container .social-container a {
          text-decoration: none;
          color: #535353; }
          main.main-container article#team #team-container .ind-container .social-container a i {
            padding: 7px 5px 0 5px;
            font-size: 1.2em; }
        main.main-container article#team #team-container .ind-container .social-container .twitter:hover {
          color: #00aced; }
        main.main-container article#team #team-container .ind-container .social-container .github:hover {
          color: #bd2c00; }
        main.main-container article#team #team-container .ind-container .social-container .linkedin:hover {
          color: #0077B5; }
  main.main-container article#partners {
    height: 400px; }
    main.main-container article#partners .main-title-box {
      width: 100%;
      margin: 0 auto;
      padding: 30px 0;
      text-align: center;
      color: #333;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.8em;
      font-weight: 400; }
  main.main-container article#faqs {
    height: 400px; }
    main.main-container article#faqs .main-title-box {
      width: 100%;
      margin: 0 auto;
      padding: 30px 0;
      text-align: center;
      color: #333;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.8em;
      font-weight: 400; }
  main.main-container article#conclusion {
    height: auto;
    border: 1px dotted #333; }
    main.main-container article#conclusion section {
      width: 100%;
      padding: 75px 0; }
      main.main-container article#conclusion section div {
        width: 700px;
        margin: 0 auto;
        text-align: center; }
        @media only screen and (max-width: 48em) {
          main.main-container article#conclusion section div {
            width: 90%; } }
        main.main-container article#conclusion section div p {
          color: #3E3A67;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 1.9em;
          font-weight: 300; }
          @media only screen and (max-width: 48em) {
            main.main-container article#conclusion section div p {
              font-size: 1.5em; } }
          @media only screen and (max-width: 40em) {
            main.main-container article#conclusion section div p {
              font-size: 1.3em; } }
          main.main-container article#conclusion section div p .bold {
            font-weight: 400; }
      main.main-container article#conclusion section .slack-container {
        width: 100%;
        padding: 50px 0 0 0;
        text-align: center; }
        main.main-container article#conclusion section .slack-container .slack-button {
          height: 70px;
          width: 260px;
          background-color: #38C098;
          opacity: 0.8;
          border-radius: 40px;
          transition: opacity 0.3s ease-in; }
          main.main-container article#conclusion section .slack-container .slack-button:hover {
            opacity: 1; }
          main.main-container article#conclusion section .slack-container .slack-button p {
            color: #FFF;
            font-family: "Source Sans Pro", sans-serif;
            font-size: 1.1em;
            font-weight: 400;
            line-height: 3; }
            main.main-container article#conclusion section .slack-container .slack-button p a {
              display: block;
              height: 100%;
              width: 100%;
              vertical-align: middle;
              font-size: 1.3em;
              padding: 0 10px 0 0;
              text-decoration: none;
              color: #FFF; }
              main.main-container article#conclusion section .slack-container .slack-button p a i {
                padding-right: 5px; }
  main.main-container footer {
    background-color: #0B1742; }
    main.main-container footer section {
      color: #FFF;
      text-align: center;
      padding: 50px 0; }
      main.main-container footer section div {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0; }
        main.main-container footer section div:nth-child(1) {
          padding-bottom: 15px;
          color: #FFF;
          font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
          font-size: 1.3em;
          font-weight: 200; }
        main.main-container footer section div:nth-child(2) {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          align-content: center;
          justify-content: center;
          color: #FFF;
          font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
          font-size: 0.9em;
          font-weight: 300; }
          main.main-container footer section div:nth-child(2) aside {
            width: 30%; }
            @media only screen and (max-width: 45em) {
              main.main-container footer section div:nth-child(2) aside {
                width: 90%;
                margin: 0 auto;
                padding: 35px 0; } }
            main.main-container footer section div:nth-child(2) aside:nth-child(1) {
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flex;
              display: flex; }
              @media only screen and (max-width: 50em) {
                main.main-container footer section div:nth-child(2) aside:nth-child(1) {
                  flex-direction: column; } }
              main.main-container footer section div:nth-child(2) aside:nth-child(1) p {
                flex: auto; }
                @media only screen and (max-width: 50em) {
                  main.main-container footer section div:nth-child(2) aside:nth-child(1) p {
                    height: 1.7em;
                    margin: 0 auto; } }
                main.main-container footer section div:nth-child(2) aside:nth-child(1) p a {
                  text-decoration: none;
                  color: #FFF; }
            @media only screen and (max-width: 45em) {
              main.main-container footer section div:nth-child(2) aside:nth-child(2) {
                padding-top: 12px; } }
            main.main-container footer section div:nth-child(2) aside:nth-child(1) {
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flex;
              display: flex;
              align-items: center;
              justify-content: center; }
              main.main-container footer section div:nth-child(2) aside:nth-child(1) p {
                padding: 0 10px; }
            main.main-container footer section div:nth-child(2) aside:nth-child(2) a {
              text-decoration: none;
              color: #38C098; }
        main.main-container footer section div:nth-child(3) .social-footer-sub-container a {
          font-size: 1em;
          padding: 0 10px;
          text-decoration: none;
          color: #38C098; }
          @media only screen and (max-width: 45em) {
            main.main-container footer section div:nth-child(3) .social-footer-sub-container a {
              padding: 0 10px; } }
          main.main-container footer section div:nth-child(3) .social-footer-sub-container a:hover {
            color: #FFF; }
        main.main-container footer section div:nth-child(4) {
          padding-top: 15px;
          color: #ccc;
          font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
          font-size: 0.85em;
          font-weight: 200; }

/*# sourceMappingURL=hlo.css.map */
