doctype html
html(lang='en')
    head
        //meta(http-equiv="Content-Security-Policy", content="default-src 'self'; script-src 'self' https://cdnjs.cloudflare.com; connect-src 'self'; child-src 'none'; img-src 'self'; style-src 'self' https://cdnjs.cloudflare.com; object-src 'none'")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(http-equiv="X-UA-Compatable" content="IE=edge")
        meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0")
        meta(name="description", content="Description goes here")
        meta(name="keywords", content="healthcare library, healthcarelibrary, healthcarelib, healthcarelib.org, HLO")

        title HLO • Home
        
        // facebook og
        meta(property="og:title", content="Healthcare Library")
        meta(property="og:site_name", content="healthcarelib.org")
        meta(property="og:title", content="http://healthcarelib.org")
        meta(property="og:image", content="")
        meta(property="og:description", content="description")
        
        // twitter og
        meta(property="twitter:site", content="healthcarelib.org")
        meta(property="twitter:card" content="description")
        meta(property="twitter:title" content="Healthcare Library")


        // main stylesheets
        link(rel="stylesheet", type="text/css", href="./css/hlo.css")   

        // font-awesome
        link(rel="stylesheet", type="text/css" href="./libraries/font-awesome-4.7-2.0/css/font-awesome.min.css")

        // animate.css
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css", integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw", crossorigin="anonymous")

        // Add icon files 



        // scripts
        // AWS path
        script(src="./libraries/jQuery/default/main.js")
        script(src="./libraries/jQuery/master/ajax.js")
        script(src="./libraries/jQuery/master/migrate.js")
   
        // LOCAL path
        // jquery.js
        //script(src="../../Documents/developer/LIBRARIES/jQuery2.1.1/jquery-2.1.1.min.js")
        // ajax.js
        //script(src="../../Documents/libraries/jquery-migrate-master/src/ajax.js")
        // migrate.js
        //script(src="../../Documents/libraries/jquery-migrate-master/src/migrate.js")
            //script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
            //
            // Image Gallery
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js")


body


    header

        .canvas
        .searchlight

        nav.navbar
            div 
                a(href="#") 
            div 
                a(href="#") HLO
            div 
                //empty space
            div 
                a(href="#faqs")
            div 
                a(href="#") Blog
            div 
                a(href="#faqs") FAQs
            div 
                a(href="#", rel="Slack")
                    i.fa.fa-slack(aria-hidden="true")
                    | Slack
            div 
                a(href="#", rel="Menu")
                    i.fa.fa-ellipsis-v(aria-hidden="true")


        #title-box
            p 
                | An 
                span open and transparent 
                | not for profit care organization 
            p Hello friends, welcome to HLO! It stands for Health library and Care organization. We are a socially responsible not for profit community strategically contextualizing for our global partners with our well thought "Uhealth" and "Ucare" programs.
        #white-sheet
            #inner-container
                #text-container
                    p 
                    p What makes us unique
                #icon-container
                    aside#icon-container-one
                        a(href="#" alt="mission")
                        #first-icon.main-icons
                        p Programs
                    aside#icon-container-two
                        a(href="#" alt="value")
                        #second-icon.main-icons
                        p Philosophy
                    aside#icon-container-three
                        a(href="#" alt="vision")
                        #third-icon.main-icons
                        p Principles

        // END HEADER 


    // START MAIN 
    main.main-container
        // Programs
        article#programs-sec 
            .main-title-box
                p.main-title-text What is HLO?
            section#at1
                aside#au1
                    #uhealth-icon.icon-hero
                    p.title "Uhealth" Library
                    p.intro 
                        span Uhealth 
                        | is your Health wants and needs program!
                    p.para Our services program offers a subsidized healthcare cost for general full laboratory services and radiology imaging procedures. We encourage our partners and individuals whose wants or needs are in health and care at a lower market price and even if your insurance has you covered with your expenses, you can still avail a discounted amount from your co-pay. 
                        span We make sure you get more by paying less. 
                        | Great value for you and for the hard earned money that you and your family deserve. 

            .container-separator
                .section-separator

            section#at2
                aside#bu1
                    #ucare-icon.icon-hero
                    p.title "Ucare" Organization
                    p.intro 
                        span Ucare 
                        | is your causes and initiatives program!

                aside#bu2
                    p.para Our Ucare program supports community disaster efforts and shares information on events or efforts for the community to get involved in. 
                aside.empty
                aside#bu3
                    #test.gallery-grid(href="javascript:;")



        // Why HLO
        article#y-sec
            .main-title-box
                p.main-title-text Why HLO?
            section#y-icons-container
                aside#first
                    #y-icon-one
                    p The green cherry from mars left the side before alice covered the sky from the new rock that was enlarged by the developing powers of the underworld.
                aside#second
                    #y-icon-two
                    p The green cherry from mars left the side before alice covered the sky from the new rock that was enlarged by the developing powers of the underworld.
                aside#third
                    #y-icon-three
                    p The green cherry from mars left the side before alice covered the sky from the new rock that was enlarged by the developing powers of the underworld.
                   


        article#team
            .main-title-box 
                .main-title-text 
                    | The Team


            #team-container
                .ind-container
                    #emp-one.mug
                    .emp-info
                        p Rabboni 
                            span Calunsag

                        p Project Lead
                    .social-container
                        a.linkedin(href="https://www.linkedin.com/in/rabboni-calunsag-0315b9111/", rel="LinkedIn")
                            i.fa.fa-linkedin(aria-hidden="true")
                
                .ind-container
                    #emp-two.mug
                    .emp-info
                        p Ted  
                            span Diepenbrock

                        p Tech Lead
                    .social-container
                        a.twitter(href="https://mobile.twitter.com/ted_diepenbrock", rel="Twitter")
                            i.fa.fa-twitter(aria-hidden="true")
                        a.github(href="https://github.com/diepenbrock", rel="Github")
                            i.fa.fa-github(aria-hidden="true")




        article#partners
            .main-title-box 
                .main-title-text 
                    | Partners






        article#faqs
            .main-title-box 
                .main-title-text 
                    | FAQs




        article#conclusion
            section
                div
                    p Join our conversation on 
                        span Slack 
                        | to learn about our 
                        span.bold progress
                        | , 
                        span.bold future plans 
                        | or to 
                        span.bold contribute 
                        | to HLO development.

                .slack-container
                    .slack-button
                        p
                            a.github(href="https://join.slack.com/t/hlo-chat/shared_invite/enQtMjg5MTIyMjEwOTEzLWMzNWIxNDNjMmU1OGExYWVjZTBhOGMyZGM4MzMwNDI5Y2ZkZDQxYTU2ZjdlZDQ0ZmUyNDEyOWRlZTY1ZmRjOGE", rel="Slack")
                                i.fa.fa-slack(aria-hidden="true")
                                | Join Slack






        footer
            section
                div
                    p HLO Foundation
                div#footer-extras
                    aside
                        p 
                            a(href="https://healthcarelibraryorg.wordpress.com",rel="Blog") Blog
                        p 
                            a(href="#faqs",rel="FAQs") FAQs
                        p 
                            a(href="https://github.com/HLOhealthcare/projectHLO",rel="Git Repo") Git Repository
                    aside
                        p Get in touch: 
                        a(href="mailto:hello@healthcarelib.org",rel="email us") hello@healthcarelib.org

                div#social-footer-main-container
                    .social-footer-sub-container
                        a.github(href="#", rel="Twitter")
                            i.fa.fa-twitter(aria-hidden="true")
                        a.github(href="https://join.slack.com/t/hlo-chat/shared_invite/enQtMjg5MTIyMjEwOTEzLWMzNWIxNDNjMmU1OGExYWVjZTBhOGMyZGM4MzMwNDI5Y2ZkZDQxYTU2ZjdlZDQ0ZmUyNDEyOWRlZTY1ZmRjOGE", rel="Slack")
                            i.fa.fa-slack(aria-hidden="true")
                        a(href="https://github.com/HLOhealthcare/projectHLO", rel="Github")
                            i.fa.fa-github(aria-hidden="true")               
                        a(href="https://healthcarelibraryorg.wordpress.com", rel="Wordpress")
                            i.fa.fa-wordpress(aria-hidden="true")        
                        a(href="mailto:hello@healthcarelib.org", rel="Paper plane")
                            i.fa.fa-paper-plane(aria-hidden="true")
                        a(href="#", rel="Reddit")
                            i.fa.fa-reddit(aria-hidden="true")
                        a(href="#", rel="Facebook")
                            i.fa.fa-facebook(aria-hidden="true")

                div
                    p Copyright &copy; 2017 HLO. All rights reserved







    script(src="./js/hlo.js")
